@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes positionBcg {
  0% {
    background-position: 100%;
  }
  50% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
