@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .skills {
    &__type {
      &-bar {
        width: 350px;
      }
    }
  }
  .work {
    &__item {
      &-description {
        opacity: 0;
      }
    }
  }
}

@media (min-width: 992px) {
  #navigation {
    left: 0;
  }
  .navigation {
    background-color: $blueNav;
  }
  .home {
    &__wrapper {
      top: 50%;
      left: 40%;
    }
    &__wrapper-img {
      .home__img {
        left: 15%;
      }
    }
  }
  .about {
    margin-left: 10rem;
  }
  .skills {
    margin-left: 10rem;
    &__type {
      &-bar {
        width: 400px;
      }
    }
  }
  .work {
    margin-left: 10rem;
    &__item {
      &-wrapper-img {
        width: 18rem;
        height: 18rem;
      }
    }
  }
  .contact {
    margin-left: 10rem;
  }
}
