@media (min-width: 992px) {
  #navigation {
    left: 0;
  }
  .home {
    &__wrapper {
      top: 50%;
      left: 40%;
    }
    &__wrapper-img {
      .home__img {
        left: 15%;
      }
    }
  }
  .about {
    margin-left: 10rem;
  }
  .skills {
    margin-left: 10rem;
  }
  .work {
    margin-left: 10rem;
  }
  .contact {
    margin-left: 10rem;
  }
}
