@import "variables";

body {
  background-color: $mainBlue;
}

// Mobile nav toggler
.toggler {
  right: 1rem;
  top: 1rem;
  z-index: 1;
  background: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
  padding: 5px;
  color: $grey;
  width: 3rem;
  height: 3rem;
  background-color: $orange;
}

.mobile-nav-active {
  overflow: hidden;
  #navigation {
    left: 0;
  }
}

// Nav section
.navigation {
  height: 100vh;
  position: fixed;
  background-color: $blue;
  color: $grey;
}

#navigation {
  position: fixed;
  top: 0;
  width: 12.5rem;
  left: -12.5rem;
  bottom: 0;
  z-index: 5;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

// Home section
.home {
  overflow: hidden;
  &__wrapper-img {
    width: 100vw;
    height: 100vh;
    .home__img {
      object-fit: cover;
    }
  }
  &__wrapper {
    user-select: none;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
  }
}

.about {
  height: 1000px;
}
// Media import
@import "media";
