@import "variables";

body {
  background-color: $mainBlue;
  color: $grey;
}

// Mobile nav toggler
.toggler {
  right: 1rem;
  top: 1rem;
  z-index: 1;
  background: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
  padding: 5px;
  color: $grey;
  width: 3rem;
  height: 3rem;
  background-color: $orange;
}

.mobile-nav-active {
  overflow: hidden;
  #navigation {
    left: 0;
  }
}

// Nav section
.navigation {
  height: 100vh;
  position: fixed;
  background-color: $blue;
  filter: opacity(0.95);
}

#navigation {
  position: fixed;
  top: 0;
  width: 10rem;
  left: -10rem;
  bottom: 0;
  z-index: 5;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

// Home section
.home {
  overflow: hidden;
  border-bottom: 1px dotted $grey;
  &__wrapper-img {
    width: 100vw;
    height: 100vh;
    position: relative;
    .home__img {
      position: absolute;
    }
  }
  &__wrapper {
    user-select: none;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    &-title {
      font-size: 3rem;
    }
    &-text {
      font-size: 2rem;
    }
  }
}

.about {
  &__wrapper {
    &-img {
      max-height: 20rem;
      max-width: 20rem;
      overflow: hidden;
      border-radius: 40px;
      .about__img {
        object-fit: cover;
      }
    }
    .about__info-list {
      list-style: none;
      padding: 0;
    }
  }
}

.skill {
  &__type {
    &-bar {
      background: rgba(255, 255, 255, 0.1);
      justify-content: flex-start;
      border-radius: 100px;
      align-items: center;
      position: relative;
      padding: 0 5px;
      display: flex;
      height: 40px;
      width: 500px;
      &-progress {
        animation: load 3s normal forwards;
        box-shadow: 0 10px 40px -10px #fff;
        border-radius: 100px;
        background: $orange;
        height: 30px;
        width: 0;
        max-width: 10%;
      }
    }
  }
}
// Media import

@import "keyframes";
@import "media";
