body {
  background-color: #161853;
  color: #faedf0;
}

.toggler {
  right: 1rem;
  top: 1rem;
  z-index: 1;
  background: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
  padding: 5px;
  color: #faedf0;
  width: 3rem;
  height: 3rem;
  background-color: #ec255a;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #navigation {
  left: 0;
}

.navigation {
  height: 100vh;
  position: fixed;
  background-color: #292c6d;
  -webkit-filter: opacity(0.95);
          filter: opacity(0.95);
}

#navigation {
  position: fixed;
  top: 0;
  width: 10rem;
  left: -10rem;
  bottom: 0;
  z-index: 5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

.home {
  overflow: hidden;
  border-bottom: 1px dotted #faedf0;
}

.home__wrapper-img {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.home__wrapper-img .home__img {
  position: absolute;
}

.home__wrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

.home__wrapper-title {
  font-size: 3rem;
}

.home__wrapper-text {
  font-size: 2rem;
}

.about__wrapper-img {
  max-height: 20rem;
  max-width: 20rem;
  overflow: hidden;
  border-radius: 40px;
}

.about__wrapper-img .about__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.about__wrapper .about__info-list {
  list-style: none;
  padding: 0;
}

.skills__type-bar {
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 300px;
}

.skills__type-bar-progress {
  -webkit-animation: load 3s normal forwards;
          animation: load 3s normal forwards;
  -webkit-box-shadow: 0 0 50px 1px #ec255a;
          box-shadow: 0 0 50px 1px #ec255a;
  background: #ec255a;
  border-radius: 100px;
  height: 30px;
  width: 100%;
}

.skills__type-bar-progress.skill1 {
  max-width: 95%;
}

.skills__type-bar-progress.skill2 {
  max-width: 90%;
}

.skills__type-bar-progress.skill3 {
  max-width: 20%;
}

.skills__type-bar-progress.skill4 {
  max-width: 10%;
}

@-webkit-keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes positionBcg {
  0% {
    background-position: 100%;
  }
  50% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes positionBcg {
  0% {
    background-position: 100%;
  }
  50% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@media (min-width: 768px) {
  .skills__type-bar {
    width: 350px;
  }
}

@media (min-width: 992px) {
  #navigation {
    left: 0;
  }
  .home__wrapper {
    top: 50%;
    left: 40%;
  }
  .home__wrapper-img .home__img {
    left: 15%;
  }
  .about {
    margin-left: 10rem;
  }
  .skills {
    margin-left: 10rem;
  }
  .skills__type-bar {
    width: 400px;
  }
  .work {
    margin-left: 10rem;
  }
  .contact {
    margin-left: 10rem;
  }
}
/*# sourceMappingURL=styles.css.map */